<html>
<head>
    <title>my ejs template</title>
</head>

<body>

<% if(introduce.length>0) {%>
   <%=introduce%>
<%}%>

<h1><%= order.price%></h1>

<input type="button" value="<%=name%>">

<% users.forEach(function(user){%>
    <h3><%=user.name%></h3>
<%})%>



</table>
</body>
</html>