<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue 动态 Prop</title>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id="app">
    <div>
        <input v-model="parentMsg">
        <br>
        <child v-bind:message="parentMsg"></child>
    </div>
</div>

<!--用 v-bind 动态绑定 props 的值到父组件的数据中。每当父组件的数据变化时，该变化也会传导给子组件：
1,当input输入数据的时候，因为v-model的原因，input把值给了parentMsg，parentMsg再给全局组件的message赋值。
2,全局数据因为props，所以message接受数据，然后在template内部显示

-->
<script>
    // 注册
    Vue.component('child', {
        // 声明 props
        props: ['message'],
        // 同样也可以在 vm 实例中像 “this.message” 这样使用
        template: '<h1>{{ message }}</h1>'
    })
    // 创建根实例
    new Vue({
        el: '#app',
        data: {
            parentMsg: '父组件内容'
        }
    })
</script>
</body>
</html>